.detailed {
  .mt {
    margin-top: 20px;
  }

  &--icon {
    width: min-content;
    margin: auto;
  }

  &--details {
    padding: 16px;
    border-radius: 10px;
    border: 1px solid $gray5;
    text-align: left;
    margin-top: 10px;

    &--row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      & + * {
        margin-top: 10px;
      }

      & div {
        width: 50%;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        color: $gray4;
      }

      & div:last-child {
        text-align: right;
      }
    }
  }
}

.input-amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  background: $gray3;
  padding: 8px 16px;
  border-radius: 8px;

  &--row {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &--col {
    width: 47%;
    min-height: 57px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &:last-child {
      text-align: right;
    }
  }

  &--value {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 39px;
    color: $dark2;
    border: none;
    max-width: 100%;
    background: transparent;
  }

  &--max {
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
    background: $blue;
    padding: 4px 10px;
    border-radius: 8px;
    color: $white;
    cursor: pointer;
    margin-right: 8px;
  }

  &--price {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: $gray4;
    width: 100%;
  }

  &--tokens {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: $dark2;
    margin-left: auto;
  }
}
