.liquidity {

  &--slippage {
    margin-top: 16px;
  }

  &--input:first-child {
    margin-bottom: -8px;
  }

  & .error {
    text-align: center;
    margin-top: 16px;
    font-weight: 700;
  }

  & .submitted {
    padding-top: 98px;
    padding-bottom: 138px;
    text-align: center;

    & p {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 180%;
      color: $dark2;

    }
  }

  & .m-title {
    color: $dark2;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 7px;
  }

  & .m-content {
    padding: 16px;
    box-sizing: border-box;
  }

  & .m-head {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: $dark2;

    & img {
      width: 36px;
    }
  }

  &--icon {
    width: min-content;
    margin: auto;
    margin-bottom: -8px;
  }

  &--btn {
    margin-top: 16px;
  }

  &--details {
    border: 1px solid #DFE4ED;
    border-radius: 8px;
    padding: 16px;
    text-align: left;
    margin-top: 16px;

    & h3 {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: $dark2;
    }

    &--row {
      display: flex;
      justify-content: space-between;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 230%;
      color: $dark2;
    }
  }

  .warning-text {
    margin-top: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 180%;
    color: #2D2926;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    & .svg-icon {
      height: 20px;
    }

    & span {
      margin-left: 5px;
    }
  }
}
